.stream-widget {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    background-color: #1e293b;
    color: #fff;
    width: 650px;
    padding-bottom: 2px;
    position: relative; 
    overflow: hidden; 
}

.stream-service-name {
    font-weight: bold;
    width: 100px;
    text-align: center;
    padding: 5px;
    background-color: #FF4081;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
}

.stream-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
    font-weight: 600;
}

.stream-rules {
    display: flex;
    align-items: center;
    padding-right: 10px;
    font-weight: 400;
    font-size: 0.85em;
}

.stream-rules-text {
    width: 100px;
    margin-right: 1.7em;
    text-align: center;
}


.download-button-container {
    position: absolute;
    width: 100px;
    right: 700px; 
    transition: right 0.2s ease; 
}

.download-button-container.show {
    right: 550px;
}

.download-button-container.hide {
    right: 700px; 
}

.download-button {
    padding: 5px 20px;
    font-size: 1rem;
    color: #1e293b;
    background-color: #f9f7f7;
    border: none;
    cursor: pointer;
}

.download-button:hover {
    background-color: #ccc; 
}